{{ indent }}ImageField {// {{ hrName }}
{{ indent }}    id: {{ id }}
{{ position }}
{{ indent }}    source: {{ value }}
{{ indent }}    color: "{{ color }}"
{{ indent }}    {{ pageManagement }}
{{ indent }}    readOnly: {{ readOnly }}
{{ indent }}}
