{{ indent }}WebView{// {{ hrName }}
{{ indent }}    id: {{ id }}
{{ position }}
{{ indent }}    url: {{ value }}
{{ indent }}    tooltip: "{{ toolTip }}"
{{ indent }}    {{ pageManagement }}
{{ indent }}    readOnly: {{ readOnly }}
{{ indent }}}
