[submodule "client/diceparser"]
	path = client/diceparser
	url = https://github.com/Rolisteam/DiceParser.git
	pushURL = git@github.com:Rolisteam/DiceParser.git
[submodule "client/widgets/gmtoolbox"]
	path = client/widgets/gmtoolbox
	url = https://github.com/Rolisteam/RPlugins.git
	pushURL = git@github.com:Rolisteam/RPlugins.git
[submodule "client/charactersheet"]
	path = client/charactersheet
	url = https://github.com/Rolisteam/RCharacterSheet.git
	pushURL = git@github.com:Rolisteam/RCharacterSheet.git
[submodule "client/common"]
	path = client/common
	url = https://github.com/Rolisteam/common.git
