[submodule "charactersheet"]
	path = charactersheet
    url = https://github.com/Rolisteam/RCharacterSheet.git
    pushURL = git@github.com:Rolisteam/RCharacterSheet.git
[submodule "diceparser"]
	path = diceparser
	url = https://github.com/Rolisteam/DiceParser.git
    pushURL = git@github.com:Rolisteam/DiceParser.git

[submodule "common"]
	path = common
	url = https://github.com/Rolisteam/common.git
