Source: rolisteam
Section: games
Priority: extra
Maintainer: Renaud Guezennec <renaud@rolisteam.org>
Build-Depends: cdbs, qt5-qmake,qt5-default,libqt5multimedia5,qtmultimedia5-dev,libqt5gui5,libqt5multimedia5-plugins,qt5-image-formats-plugins,qtmultimedia5-examples,libqt5multimediawidgets5, zlib1g-dev
Standards-Version: 3.8.0
Homepage: http://www.rolisteam.org

Package: rolisteam
Section: games
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Manage easily your role playing games
 Rolisteam can help you to manage a role playing game. It allows you to share
 maps with your players, private or global chat and control music player.

Package: rolisteam-doc
Section: games
Architecture: all
Depends: rolisteam (>= 1.0.0)
Description: Documentation for rolisteam
 Technical Documentation of rolisteam

