#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/qmake.mk
QMAKE=qmake rolisteam.pro


#PKG_CONFIG_PATH=/usr/local/Trolltech/Qt-4.5.1/lib/pkgconfig

#install/rolisteam::
#	mkdir -p $(DEB_DESTDIR)usr/
#	mkdir -p $(DEB_DESTDIR)usr/bin/
#	mkdir -p $(DEB_DESTDIR)usr/share/
#	mkdir -p $(DEB_DESTDIR)usr/share/applications/
#	cp $(CURDIR)/bin/rolisteam $(DEB_DESTDIR)usr/bin/
#	cp rolisteam.desktop $(DEB_DESTDIR)usr/share/applications/

#install/rolisteam-doc::
#	mkdir -p $(CURDIR)/debian/rolisteam-doc/usr/
#	mkdir -p $(CURDIR)/debian/rolisteam-doc/usr/share/
#	mkdir -p $(CURDIR)/debian/rolisteam-doc/usr/share/doc/
#	mkdir -p $(CURDIR)/debian/rolisteam-doc/usr/share/doc/rolisteam-doc/
#	[ -f $(CURDIR)/resources/doc/rolisteam.qhc ] && echo "rolisteam.qhc is a file"
#	[ -f $(CURDIR)/resources/doc/rolisteam-manual.qch ] && echo "rolisteam-manual.qch is a file"
#	cp $(CURDIR)/resources/doc/rolisteam.qhc $(CURDIR)/debian/rolisteam-doc/usr/share/doc/rolisteam-doc/
#	cp $(CURDIR)/resources/doc/rolisteam-manual.qch $(CURDIR)/debian/rolisteam-doc/usr/share/doc/rolisteam-doc/


install/rolisteam::
	mkdir -p $(CURDIR)/debian/rolisteam/usr/
	mkdir -p $(CURDIR)/debian/rolisteam/usr/bin/
	mkdir -p $(CURDIR)/debian/rolisteam/usr/share/
	mkdir -p $(CURDIR)/debian/rolisteam/usr/share/applications/
	mkdir -p $(CURDIR)/debian/rolisteam/usr/share/app-install/
	mkdir -p $(CURDIR)/debian/rolisteam/usr/share/app-install/icons/
	cp $(CURDIR)/bin/rolisteam $(CURDIR)/debian/rolisteam/usr/bin/
	cp $(CURDIR)/resources/logo/symbol.svg $(CURDIR)/debian/rolisteam/usr/share/app-install/icons/rolisteam.svg
	cp rolisteam.desktop $(CURDIR)/debian/rolisteam/usr/share/applications/

